---
import MainLayout from '../layouts/MainLayout.astro';
import { renderJekyllTemplate } from '../lib/jekyll-liquid';

import template from '../site-content/templates/content-types.html?raw';

const content = await renderJekyllTemplate(template, {
  title: 'Testing All Content Type/Stylesheet Embedding Combinations',
  noindex: true,
  url: '/content-types.html'
});
---
<MainLayout title="Testing All Content Type/Stylesheet Embedding Combinations">
  <div set:html={content}></div>
</MainLayout>
